<div class="row">
  <div class="header span8 offset2">
    <h2>Name your Templates</h2>
  </div>
</div>
<div class="row">
  <div class="header span8 offset2">
    <ul class="unstyled">
      <li>Create one template for each of the different "roles" of people you will have on a project.</li>
      <ul>
        <li>ex: "Project Manager", "Superintendent", "Subcontractor"</li>
      </ul>
      <br>
      <li>If two roles should have very similar permissions, just create one template for both of them</li>
      <ul>
        <li>ex: "Architect/Engineer", "Owner/CM"
        </li>
      </ul>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span4 offset4">
    <%= render :partial => 'shared/new_template_table' %>
    <hr>
    <p>When you're finished...</p>
    <%= link_to "Customize my templates", {:controller => :wizard, :action => :start}, :id => :customize_my_templates, :class => 'btn' %>
  </div>
</div>
