<p>Hey <%= @admin.first_name %>-</p>

<p><%= @account.name %> just completed the Permission Wizard!</p>

<p>You can find their templates here:</p>
<p><%= link_to "View Templates", account_url(@account) %></p>