<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th></th>
      <th>None</th>
      <th>Read Only</th>
      <th>Standard</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>View All Project Contacts Information</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Edit Personal Information in "My Settings" Link in Top Right of any Page</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Export Directory Log and to PDF or CSV</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Add a Person/Company/Distribution Group</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Edit/Inactivate Person or Company</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Modify Permissions for Any User in Directory</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Access the Directory Configuration Screen</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>