<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th></th>
      <th>None</th>
      <th>Read Only</th>
      <th>Standard</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>View & Download Public Files and Folders</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Create a Sub Folder</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Add File to Permitted Folders </td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Add File via Inbound E-mail Address</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Upload a New Version of File</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Email a File or Folder</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Enable Personal Setting "Track Folder/File"</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Set Folder/File as "Private"</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Move Location Folder/File Through Document Tree </td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Move Folder/File to Recycle Bin</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
     <tr>
      <td>View Folder/File Download Log</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
<tr>
      <td>Access the Documents Configuration Screen</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>