<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>None</th>
      <th>Read Only</th>
      <th>Standard</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
<<<<<<< HEAD
      <td>View & Download Drawings</td>
=======
      <td>View All Drawings</td>
>>>>>>> 8bce7eb82c0baa7eb6f1f15e47ca8c893f22e6ff
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
<<<<<<< HEAD
      <td>Email Forward Drawings</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Upload new Drawings</td>
=======
      <td>Email Out Drawings</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Upload and Name a Drawing Set</td>
>>>>>>> 8bce7eb82c0baa7eb6f1f15e47ca8c893f22e6ff
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
<<<<<<< HEAD
      <td>Create Drawing Sets and Disciplines</td>
=======
      <td>Edit Drawings</td>
>>>>>>> 8bce7eb82c0baa7eb6f1f15e47ca8c893f22e6ff
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
<<<<<<< HEAD
      <td>Update Information on Drawings</td>
=======
      <td>Add a Sketch</td>
>>>>>>> 8bce7eb82c0baa7eb6f1f15e47ca8c893f22e6ff
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
<<<<<<< HEAD
      <td>Access Drawings Configuration Screen</td>
=======
      <td>Access Drawings Configuration Page</td>
>>>>>>> 8bce7eb82c0baa7eb6f1f15e47ca8c893f22e6ff
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>