<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>None</th>
      <th>Read Only</th>
      <th>Standard</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>View All Drawings</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Email Out Drawings</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Upload and Name a Drawing Set</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Edit Drawings</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Add a Sketch</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Access Drawings Configuration Page</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>