<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th></th>
      <th>None</th>
      <th>Read Only</th>
      <th>Standard</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>View & Download All Photos Marked as Public</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Upload Photos Via Web Browser/Email/Mobile/Procore for Desktop</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Email Photos From Procore </td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Create Albums</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Edit/Delete Photo</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Mark Photo as Private</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Set Album Cover Photo and Project Photo</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Place Photo in Different Album</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Access Photos Configuration Screen</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>