<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>None</th>
      <th>Read Only</th>
      <th>Standard</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>View the Schedule</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Create Calendar ITem</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Request Schedule Change Item</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Upload/Modify MS Project Schedules</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Access Daily Log  Configuration Screen</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      </tbody>
</table>