<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th></th>
      <th>None</th>
      <th>Read Only</th>
      <th>Standard</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Receive a Transmittal via Email</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>View Public Transmittals in Procore</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>View Private Transmittals if on Distribution List</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Export Transmittal Log and Individual Transmittals to PDF or CSV</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Email Forward a Transmittal</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Create Transmittals</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>View and Edit all Transmittals</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Move Transmittals to Recycle Bin</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Access to Transmittals Configuration Screen</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>