<div class="row">
	<div class="span4 offset4">
		<h1><%= current_tab_title %></h1>
	</div>
</div>
<div class="row permission-bullets">
	<div class="span12">
    <%= render :partial => "wizard/comparison_tables/#{current_tab}_comparison" %>
	</div>
</div>
<hr>
<div class="row workflow">
	<div class="span6 workflow-text">
		<h4> How it works: </h4>
		<p>
			The Bidding tool is where your bid administrators will compile bid packages and invite your bidders.  Bidders do NOT place their bids through this tab, so don't give them access.
		</p>
	</div>
	<div class="span6 workflow-image">
		<img src="https://s3.amazonaws.com/pro-core.com/prostore/7730592_procore_logo_small.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2003432978&Signature=xe%2BaL3JrNRyRFVX0H99gIlyBfwQ%3D">
	</div>
</div>
<hr>
<div class="row elaboration">
	<div class="span12">
		<h4>Our Recommendation:</h4>
		<p>
			Bidding is an "All or Nothing" tool.  Your bid administrator and the full project admins should have "Admin" access and everyone else should have "None" access.
		</p>
	</div>
</div>
<br>
<%= render :partial => 'form' %>














