<div class="row">
  <div class="span4 offset4">
    <h1><%= current_tab_title %></h1>
  </div>
</div>
<div class="row permission-bullets">
  <div class="span12">
    <%= render :partial => "wizard/comparison_tables/#{current_tab}_comparison" %>
  </div>
</div>
<hr>
<div class="row workflow">
  <div class="span6 workflow-text">
    <h4> How it works: </h4>
    <p>
      Standard level users on the Daily Log can only enter daily logs on their own behalf, like loggin that they worked 8 hours that day.  Admins can enter daily logs for others, so the person filling out the Daily Log each day should be an Admin.
    </p>
  </div>
  <div class="span6 workflow-image">
    <img src="https://s3.amazonaws.com/pro-core.com/prostore/7730592_procore_logo_small.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2003432978&Signature=xe%2BaL3JrNRyRFVX0H99gIlyBfwQ%3D">
  </div>
</div>
<hr>
<div class="row elaboration">
  <div class="span12">
    <h4>Our Recommendation:</h4>
    <p>
      The person filling out the Daily Log should be an Admin.  (Usually Superintendents and Project Managers)
    </p>
  </div>
</div>
<br>
<%= render :partial => 'form' %>














