<div class="row">
  <div class="span4 offset4">
    <h1><%= current_tab_title %></h1>
  </div>
</div>
<div class="row permission-bullets">
  <div class="span12">
    <%= render :partial => "wizard/comparison_tables/#{current_tab}_comparison" %>
  </div>
</div>
<hr>
<div class="row workflow">
  <div class="span6 workflow-text">
    <h4> How it works: </h4>
    <p>
      Meeting can only be created by Admins and only Admins can take down Meeting Minutes. Standards can comment on meeting items.  All meetings have "Attendee Lists".  If a meeting is Private, then Standard and Read Only users will only see a meeting if they are on the Attendee List.  Meeting Items can be assigned, but they are not dependent opon permisisons.
    </p>
  </div>
  <div class="span6 workflow-image">
    <img src="https://s3.amazonaws.com/pro-core.com/prostore/7730592_procore_logo_small.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2003432978&Signature=xe%2BaL3JrNRyRFVX0H99gIlyBfwQ%3D">
  </div>
</div>
<hr>
<div class="row elaboration">
  <div class="span12">
    <h4>Our Recommendation:</h4>
    <p>
      Anyone in charge of entering meetings or meeting minutes should be an Admin.  Attendees can be either Read Only or Standard if you want them to be able to view the meetings in Procore.
    </p>
  </div>
</div>
<br>
<%= render :partial => 'form' %>














