<div class="row">
  <div class="span4 offset4">
    <h1><%= current_tab_title %></h1>
  </div>
</div>
<div class="row permission-bullets">
  <div class="span12">
    <%= render :partial => "wizard/comparison_tables/#{current_tab}_comparison" %>
  </div>
</div>
<hr>
<div class="row workflow">
  <div class="span6 workflow-text">
    <h4> How it works: </h4>
    <p>
      The Prime Contract tool is "Private by Default," meaning that even Read Only and Standard level users will not see anything unless you specifically add those users to the permission settings under the "General" subtab of the contract.  You must be an Admin to create or modify the Prime Contract or to create any Change Orders, Payment Applications, or Payments against the contract.
    </p>
  </div>
  <div class="span6 workflow-image">
    <img src="https://s3.amazonaws.com/pro-core.com/prostore/7730592_procore_logo_small.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2003432978&Signature=xe%2BaL3JrNRyRFVX0H99gIlyBfwQ%3D">
  </div>
</div>
<hr>
<div class="row elaboration">
  <div class="span12">
    <h4>Our Recommendation:</h4>
    <p>
      Your contract administrators and full project admins should be "Admin" here.  Other users who should be able to see the contract should be "Read Only"* and everyone else should have "None" access. 
    </p>
    <p>
      * Any Read Only or Standard users must be specifically included on the privacy settings of the contract to see it.
    </p>
  </div>
</div>
<br>
<%= render :partial => 'form' %>














