<div class="row">
  <div class="span4 offset4">
    <h1><%= current_tab_title %></h1>
  </div>
</div>
<div class="row permission-bullets">
  <div class="span12">
    <%= render :partial => "wizard/comparison_tables/#{current_tab}_comparison" %>
  </div>
</div>
<hr>
<div class="row workflow">
  <div class="span6 workflow-text">
    <h4> How it works: </h4>
    <p>
      Standard level users can create Punch List items, but they can only assign them "upstream" to an Admin.  Admins can assign Submittals to both Standards and other Admins.  This allows them to "re-route" Punch List items to the appropriate location.
    </p>
    <p>
      Ex: An Architect might be a "Standard" level user and a subcontractor might also be a "Standard".  We don't want the owener assigning punch list items directly to subcontractors, so the Architect must assign the item to the Project Manager first (an Admin) who reviews it, then re-assigns it to the appropriate Subcontractor.
    </p>
  </div>
  <div class="span6 workflow-image">
    <img src="https://s3.amazonaws.com/pro-core.com/prostore/7730592_procore_logo_small.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2003432978&Signature=xe%2BaL3JrNRyRFVX0H99gIlyBfwQ%3D">
  </div>
</div>
<hr>
<div class="row elaboration">
  <div class="span12">
    <h4>Our Recommendation:</h4>
    <p>
      Anyone who should be able to create Punch List items or who will ever be assigned a Punch List item in Procore should be a Standard.  (Usually Architects, Consultants, and Subcontractors and sometimes Owners). Make sure to set at least one template as an "Admin" on the tool, or your "Standards" will have no one to assign their submittals to.
    </p>
  </div>
</div>
<br>
<%= render :partial => 'form' %>














